.datetitle {
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
}
.datetitle h2 {
  padding-right: 80px;
}

main {
  display: flex;
}
.pics {
  margin-top: 4rem;
  https: //srv.buysellads.com/ads/click/x/GTND42JICESDLK7WCEBLYKQNCKBDCK3YCWBIEZ3JCY7IVKJLCASDTKJKCA7DT5QICEADTKJMCTSD6KJNCY7IK5QKC6SDC23NCYSDVK3EHJNCLSIZ
;
}
#btn {
  width: 10rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.dated{
  padding:1rem 0 0 0;
  font-size:2rem;
}
.pics {
  margin: 0 auto;
  text-align: center;
}
.btn {
  padding: 1rem 0;
}
.title{
  margin:0 auto;
  text-align:center;
  padding-top:5rem;
  font-size:3rem;
  font
}
.picinfo{
  display:block;
  padding:1rem 0;
}
.imgDesc{
  display:flex;
  padding:1rem 2rem;
  width:90%;
  max-width:1200px;
  padding-top:8rem;
}

img, h3{
  display:40%
 padding:0 10rem;
    justify-content:center;
    align-items:center;
}
h3{
  text-align:center;
  margin :0 auto;

}
