

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: url("space.jpg") no-repeat fixed center;
  background-size:cover;
  color:white;
  overflow-x: hidden;
}
nav {
  background: #222;
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}


.about,.displayContainer,.mediaContainer,.info{
  display:block;
}
.left,.right,.mediaContainer,.info{
 width:100%;
}
/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  
/*   .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  } */
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
/*   .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  } */
  .toggle {
    display: none;
  }
/*   .submenu-active {
    border-radius: 0;
  } */
}

.title {
  text-align: center;
  padding: 3rem;
  font:'Orbitron',sans-serif;
  font-size:4rem;
  font-weight:700;
}

img[src=""] { display: none; }
.small {
  display: flex;
  padding: 1rem 0;
  color:white;
}
.nasaLink {
  text-decoration: none;
  color:white;
}
.nasaLink:hover {
  color: green;
}
.title {
  color: green;
}
.input-group,label{
  display:block;
  color:rebeccapurple;
}
label{
    font-size: 2rem;
    font-weight: 700;
}
#startDate,#endDate{
  width:20rem;
  padding:0.5rem;
  border:1px solid rebeccapurple;
  border-radius:0.5rem;
}
.btn-group,h2,label,.input-group{
  padding:1rem 0;
}

.btn{
  display:block;
  padding:0.5rem;
  border-radius:1rem;
  width:10rem;
  color:white;
  background:rebeccapurple;
}
.generate, .text{
  margin:2rem 0;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 10%;
}
.left,
.right {
  width: 40%;
}
.introPara{

  font-weight:600;
  font-size:1.5rem;
  line-height:1.5;

}
#randomDate{
  margin: 1rem auto;
 text-align:center;
  font-weight:bold;
  color:white;
  display:block;
  font-size:1.5rem;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:5rem;
  max-width:1200px;
}
/* .randomImg{
  width:200px;
  height:200px;
} */
.result-img,
.desc {
  display: flex;
  width:50%;
  justify-content: center;
  align-items:center;
  padding:0 2rem ;
/*   margin: 0 5% 0 5%; */
  /* border: 2px solid black; */
}
#randomDesc{
  line-height:1.2;
  font-size:1.5rem;
}

.row{
  max-width:1200px;
  width:90%;
  display:flex;
  justify-content: center;
  align-items: center;
}


.column{
  width:40%;
  margin:3rem 2rem;
}
/*start of scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(7, 4, 20);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgb(7, 4, 20);
}


 

.cards{
  margin:3rem 0;
  height:auto;
}
.displayContainer{
        max-width:1200px;
        width:100%;
        height:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0 auto;
        border:2px solid black;
        box-shadow:2px 2px 5px 5px gray;
        background:whitesmoke;
        padding:3rem;
        color:black;
      }
      .mediaContainer{
        width:55%;
        padding:0rem 1rem;
        display:block;
        text-align:center;
        justify-content:center;
      
      }
       
      .infoContainer{
        width:25%;
        display:block;
        margin:0 auto;
        padding: 0 0 0 3rem;
        text-align:center;
      
      }
      .exp-title{
        display:center;
        font-size:1.5rem;
      }
     
      .dated,.exp,.exp-desc{
        font-size:1.2rem;
        display:left;
        padding: 0.5rem, 0.8rem;
      }
       .exp{
         font-size:1.2rem;
         line-height:1.5;
         letter-spacing:1.2;
       }
      #header{
        padding:3rem 0;
        font-size:1.5rem;
        text-align:center;

      }